.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.book-detail {
  display: flex;
  background-color: #F9F3EE;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.book-detail img {
  max-width: 200px;
  border-radius: 8px;
  margin-right: 20px;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-info h2 {
  margin: 0 0 10px;
}

.book-info p {
  margin: 5px 0;
}
