<div class="container-book-list">
  @for ( book of book$ | async; track $index) {
    <div class="book-item">
      <img [src]="book.cover" alt="">
      <div class="book-item-right">
        <div class="title">
        <h2>{{book.title}}</h2>
        <p><strong>Author:</strong> J.K.Rowling</p>
        <p><strong>Release Date:</strong> {{book.releaseDate}}</p>
        </div>
        <button [routerLink] = "['/detail', book.number]" mat-flat-button>See more</button>
      </div>
    </div>
  }
</div>

